<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_2_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,112},{106,98}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,58},{106,98}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_2_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,0},{105,97}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,58},{105,97}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_2_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,482},{75,115}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{75,115}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_2_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,755},{76,116}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,40},{76,116}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_2_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,582},{95,97}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,44},{95,97}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>11_2_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,458},{95,93}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,48},{95,93}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>11_2_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,670},{128,92}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{128,92}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>11_2_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,799},{128,94}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,40},{128,94}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>11_2_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,254},{121,95}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{121,95}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>11_2_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,495},{119,93}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,34},{119,93}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>11_2_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,515},{120,94}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,34},{120,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11_2_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,663},{125,95}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{125,95}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>11_2_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,798},{127,93}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,42},{127,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>11_2_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,363},{85,119}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,44},{85,119}}</string>
                <key>sourceSize</key>
                <string>{163,163}</string>
            </dict>
            <key>11_2_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,243},{84,120}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{84,120}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_2_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,241},{81,119}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{81,119}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>11_2_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,614},{79,115}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,30},{79,115}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>11_2_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,0},{82,118}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,30},{82,118}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>11_2_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,375},{84,120}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{84,120}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>11_2_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,0},{85,121}}</string>
                <key>offset</key>
                <string>{-16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,36},{85,121}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>11_2_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{85,131}}</string>
                <key>offset</key>
                <string>{-13,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,68},{85,131}}</string>
                <key>sourceSize</key>
                <string>{199,199}</string>
            </dict>
            <key>11_2_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,540},{84,130}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{84,130}}</string>
                <key>sourceSize</key>
                <string>{194,194}</string>
            </dict>
            <key>11_2_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,670},{83,129}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{83,129}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>11_2_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,788},{79,125}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{79,125}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>11_2_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,410},{81,127}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,58},{81,127}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>11_2_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,410},{84,130}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{84,130}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>11_2_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,139},{85,131}}</string>
                <key>offset</key>
                <string>{-16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,64},{85,131}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>11_2_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,840},{100,102}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{100,102}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_2_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,360},{95,113}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,72},{95,113}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>11_2_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,139}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,80},{83,139}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>11_2_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,0},{92,116}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{92,116}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>11_2_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,635},{68,120}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,46},{68,120}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>11_2_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,0},{72,120}}</string>
                <key>offset</key>
                <string>{5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{72,120}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>11_2_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,270},{119,123}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{119,123}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>11_2_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,122},{85,121}}</string>
                <key>offset</key>
                <string>{14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{85,121}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>11_2_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,729},{105,111}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,62},{105,111}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>11_2_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,925},{121,99}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,56},{121,99}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_2_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,537},{126,102}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,39},{126,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>11_2_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,238},{113,95}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{113,95}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>11_2_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,809},{93,91}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,44},{93,91}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>11_2_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,707},{96,102}}</string>
                <key>offset</key>
                <string>{-15,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{96,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>11_2_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,798},{54,128}}</string>
                <key>offset</key>
                <string>{4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,52},{54,128}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>11_2_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,121},{80,120}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,42},{80,120}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>11_2_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,597},{110,106}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,44},{110,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>11_2_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,473},{83,109}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{83,109}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_2_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,393},{122,96}}</string>
                <key>offset</key>
                <string>{-42,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,79},{122,96}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>11_2_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,0},{112,94}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,38},{112,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>11_2_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,131},{95,123}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,62},{95,123}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>11_2_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,139},{76,138}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,70},{76,138}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>11_2_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,927},{97,111}}</string>
                <key>offset</key>
                <string>{-20,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,76},{97,111}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>11_2_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,120},{100,118}}</string>
                <key>offset</key>
                <string>{-29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,102},{100,118}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>11_2_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,351},{103,107}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{103,107}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>11_2_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,0},{122,100}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,36},{122,100}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>11_2_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,277},{133,111}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,56},{133,111}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>11_2_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,926},{108,98}}</string>
                <key>offset</key>
                <string>{3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,58},{108,98}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_2_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,871},{111,107}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,60},{111,107}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>11_2_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,116},{112,104}}</string>
                <key>offset</key>
                <string>{10,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,56},{112,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>11_2_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,228},{107,99}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,44},{107,99}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>11_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ce51c38357e45191c7df719ec7162a5$</string>
            <key>textureFileName</key>
            <string>11_2.png</string>
        </dict>
    </dict>
</plist>
