<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>11_4_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,0},{106,106}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,56},{106,106}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>11_4_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,738},{104,102}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,58},{104,102}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>11_4_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,938},{85,119}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,40},{85,119}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>11_4_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,246},{85,117}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,42},{85,117}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>11_4_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,605},{99,99}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{99,99}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>11_4_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,474},{99,97}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,48},{99,97}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>11_4_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,0},{132,96}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,55},{132,96}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>11_4_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,132},{131,99}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,46},{131,99}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_4_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,0},{127,99}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{127,99}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>11_4_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,660},{124,96}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{124,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>11_4_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{125,99}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{125,99}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>11_4_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,559},{129,99}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{129,99}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>11_4_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,275},{131,99}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{131,99}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>11_4_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,534},{100,126}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{100,126}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>11_4_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,263},{100,128}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{100,128}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>11_4_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,814},{98,124}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{98,124}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>11_4_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,640},{95,121}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,34},{95,121}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_4_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,517},{97,123}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,32},{97,123}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_4_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,130},{98,128}}</string>
                <key>offset</key>
                <string>{-22,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{98,128}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>11_4_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,406},{100,128}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,38},{100,128}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>11_4_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,850},{97,137}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,82},{97,137}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>11_4_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,430},{97,141}}</string>
                <key>offset</key>
                <string>{-20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,74},{97,141}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>11_4_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,571},{96,140}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,68},{96,140}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>11_4_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,289},{94,136}}</string>
                <key>offset</key>
                <string>{-26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,68},{94,136}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>11_4_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,571},{94,138}}</string>
                <key>offset</key>
                <string>{-25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,68},{94,138}}</string>
                <key>sourceSize</key>
                <string>{206,206}</string>
            </dict>
            <key>11_4_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,289},{97,141}}</string>
                <key>offset</key>
                <string>{-23,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,70},{97,141}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>11_4_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,711},{97,139}}</string>
                <key>offset</key>
                <string>{-19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,76},{97,139}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>11_4_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,234},{104,110}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,54},{104,110}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>11_4_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,0},{99,121}}</string>
                <key>offset</key>
                <string>{-3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,74},{99,121}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>11_4_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,0},{86,142}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{86,142}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>11_4_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,784},{95,121}}</string>
                <key>offset</key>
                <string>{-2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,76},{95,121}}</string>
                <key>sourceSize</key>
                <string>{197,197}</string>
            </dict>
            <key>11_4_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,252},{69,123}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,48},{69,123}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>11_4_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,506},{83,121}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{83,121}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>11_4_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,838},{126,124}}</string>
                <key>offset</key>
                <string>{24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,48},{126,124}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>11_4_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,383},{93,123}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{93,123}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>11_4_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,627},{109,111}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,62},{109,111}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>11_4_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,127},{125,101}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,54},{125,101}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>11_4_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,709},{129,109}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{129,109}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>11_4_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,375},{119,95}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,48},{119,95}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>11_4_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,344},{97,93}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,42},{97,93}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>11_4_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,0},{100,112}}</string>
                <key>offset</key>
                <string>{-16,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{100,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>11_4_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,425},{55,135}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,60},{55,135}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>11_4_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,391},{84,126}}</string>
                <key>offset</key>
                <string>{-10,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,48},{84,126}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>11_4_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,905},{119,107}}</string>
                <key>offset</key>
                <string>{-25,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,54},{119,107}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>11_4_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,363},{91,111}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{91,111}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>11_4_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,142},{133,101}}</string>
                <key>offset</key>
                <string>{-48,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,86},{133,101}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>11_4_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,258},{125,101}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{125,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>11_4_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{98,130}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,68},{98,130}}</string>
                <key>sourceSize</key>
                <string>{198,198}</string>
            </dict>
            <key>11_4_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{77,147}}</string>
                <key>offset</key>
                <string>{-3,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,78},{77,147}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>11_4_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,125},{99,121}}</string>
                <key>offset</key>
                <string>{-19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,74},{99,121}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>11_4_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,688},{100,126}}</string>
                <key>offset</key>
                <string>{-29,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,104},{100,126}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>11_4_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,761},{111,111}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{111,111}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>11_4_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,425},{134,104}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,36},{134,104}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>11_4_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{142,118}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,56},{142,118}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>11_4_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,872},{106,104}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,56},{106,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>11_4_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,121},{105,113}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,60},{105,113}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>11_4_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,494},{105,111}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,58},{105,111}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>11_4_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,112},{101,109}}</string>
                <key>offset</key>
                <string>{7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,36},{101,109}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>11_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1866a8e46a084bc07c02640c0c949c65$</string>
            <key>textureFileName</key>
            <string>11_4.png</string>
        </dict>
    </dict>
</plist>
