<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_0_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,230},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,185},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,0},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,182},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,220},{78,108}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,185},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,412},{78,104}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,185},{78,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,214},{92,104}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,183},{92,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,324},{88,102}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,185},{88,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,752},{90,112}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,191},{90,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,0},{90,118}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,185},{90,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{86,118}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,185},{86,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,548},{90,114}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,190},{90,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{94,116}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,185},{94,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,800},{96,114}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,185},{96,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,888},{92,112}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{92,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,220},{78,108}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,183},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,746},{90,110}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,180},{90,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{88,108}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,181},{88,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,412},{76,108}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,183},{76,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,412},{78,114}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{78,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,662},{74,114}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,180},{74,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,856},{74,110}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,182},{74,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,412},{94,104}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,178},{94,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,914},{96,110}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,174},{96,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,108},{94,106}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,176},{94,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{96,104}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,178},{96,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,640},{98,112}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,175},{98,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,686},{96,114}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,175},{96,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,636},{94,110}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,176},{94,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,412},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,185},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,776},{112,112}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,175},{112,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{114,142}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,146},{114,142}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,410},{90,86}}</string>
                <key>offset</key>
                <string>{17,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,205},{90,86}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,0},{82,100}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,205},{82,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,524},{86,112}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,195},{86,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{78,108}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,185},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,888},{98,112}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,180},{98,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{134,108}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,177},{134,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,328},{84,92}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,186},{84,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,206},{92,100}}</string>
                <key>offset</key>
                <string>{23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,187},{92,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,328},{84,102}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,187},{84,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{92,104}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,183},{92,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,526},{74,114}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,182},{74,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,428},{76,132}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,177},{76,132}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,624},{82,104}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,173},{82,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,516},{80,104}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,174},{80,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,318},{92,102}}</string>
                <key>offset</key>
                <string>{9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,178},{92,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,118},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,185},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,620},{76,98}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,183},{76,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,216},{74,108}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,167},{74,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,104},{102,100}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,186},{102,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,140},{90,118}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,195},{90,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{126,106}}</string>
                <key>offset</key>
                <string>{-20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,201},{126,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,108},{78,108}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,185},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,342},{70,96}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,184},{70,96}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,516},{80,96}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,182},{80,96}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,100},{82,100}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,178},{82,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,112},{102,108}}</string>
                <key>offset</key>
                <string>{24,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,188},{102,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{82,140}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,188},{82,140}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,106},{92,104}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,183},{92,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,0},{72,106}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,172},{72,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,0},{70,86}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,193},{70,86}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,210},{78,104}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,174},{78,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,520},{104,96}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,182},{104,96}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,428},{120,112}}</string>
                <key>offset</key>
                <string>{33,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,178},{120,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,864},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,185},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,0},{96,100}}</string>
                <key>offset</key>
                <string>{-6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,187},{96,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,152}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,136},{100,152}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,294},{96,118}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,172},{96,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_0_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,728},{92,98}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,192},{92,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7239796f4e8104b8f8f00cc090e51c7$</string>
            <key>textureFileName</key>
            <string>1_0.png</string>
        </dict>
    </dict>
</plist>
