<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_1_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,628},{80,88}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,184},{80,88}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,728},{80,90}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,182},{80,90}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,838},{68,92}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,184},{68,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,498},{68,92}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,184},{68,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,634},{80,94}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,184},{80,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,422},{78,92}}</string>
                <key>offset</key>
                <string>{11,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,186},{78,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,678},{90,112}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,191},{90,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{90,118}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,185},{90,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,686},{86,118}}</string>
                <key>offset</key>
                <string>{0,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,185},{86,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,796},{90,114}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,190},{90,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,686},{94,116}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,185},{94,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,682},{96,114}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,185},{96,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,566},{92,112}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,189},{92,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,0},{78,108}}</string>
                <key>offset</key>
                <string>{11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,183},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,112},{90,110}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,180},{90,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,916},{88,108}}</string>
                <key>offset</key>
                <string>{11,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,181},{88,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,566},{76,108}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,183},{76,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,910},{78,114}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,179},{78,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,272},{74,114}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,180},{74,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,222},{74,110}}</string>
                <key>offset</key>
                <string>{5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,182},{74,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,920},{94,104}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,178},{94,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,900},{96,110}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,174},{96,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,782},{94,106}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,176},{94,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,920},{96,104}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,178},{96,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{98,112}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,175},{98,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,568},{96,114}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,175},{96,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,232},{94,110}}</string>
                <key>offset</key>
                <string>{10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,176},{94,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,566},{88,112}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,185},{88,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,120},{112,112}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,175},{112,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{114,142}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,146},{114,142}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,322},{100,96}}</string>
                <key>offset</key>
                <string>{23,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,203},{100,96}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,930},{90,90}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,202},{90,90}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,744},{80,94}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,202},{80,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,110},{78,108}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,185},{78,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,802},{96,114}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,178},{96,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,434},{134,108}}</string>
                <key>offset</key>
                <string>{-24,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,177},{134,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,440},{104,94}}</string>
                <key>offset</key>
                <string>{29,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,184},{104,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,536},{90,92}}</string>
                <key>offset</key>
                <string>{23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,186},{90,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,878},{88,94}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,188},{88,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,218},{92,104}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,183},{92,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,426},{74,114}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,181},{74,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,294},{76,132}}</string>
                <key>offset</key>
                <string>{-12,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,177},{76,132}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,332},{84,108}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,169},{84,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,674},{84,106}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,172},{84,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,108},{82,104}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,174},{82,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,342},{88,110}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,185},{88,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,888},{76,100}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,182},{76,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,674},{74,108}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,167},{74,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,544},{100,102}}</string>
                <key>offset</key>
                <string>{12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,185},{100,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,0},{94,120}}</string>
                <key>offset</key>
                <string>{0,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,194},{94,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,142},{130,102}}</string>
                <key>offset</key>
                <string>{-23,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,201},{130,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,222},{80,108}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,186},{80,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,498},{68,94}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,186},{68,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,536},{80,98}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,179},{80,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,646},{84,98}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,180},{84,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,790},{102,110}}</string>
                <key>offset</key>
                <string>{22,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,189},{102,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{88,140}}</string>
                <key>offset</key>
                <string>{11,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,189},{88,140}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,330},{92,104}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,184},{92,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,440},{72,106}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,173},{72,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,818},{72,86}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,192},{72,86}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,0},{78,104}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,174},{78,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,434},{102,94}}</string>
                <key>offset</key>
                <string>{11,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,184},{102,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,804},{116,114}}</string>
                <key>offset</key>
                <string>{32,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,179},{116,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,0},{88,110}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,186},{88,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,780},{96,98}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,189},{96,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{98,152}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,136},{98,152}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,0},{98,142}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,147},{98,142}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_1_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,386},{96,112}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,179},{96,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c7dce38490a13a978e96cf6cc81791c$</string>
            <key>textureFileName</key>
            <string>1_1.png</string>
        </dict>
    </dict>
</plist>
