<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_3_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,264},{88,126}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,177},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,126},{88,126}}</string>
                <key>offset</key>
                <string>{-7,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,175},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,846},{78,126}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,175},{78,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,538},{78,124}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,173},{78,124}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,238},{114,106}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,182},{114,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,112},{110,104}}</string>
                <key>offset</key>
                <string>{7,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,184},{110,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,412},{88,126}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,183},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,724},{88,132}}</string>
                <key>offset</key>
                <string>{-4,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,178},{88,132}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,588},{86,132}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,178},{86,132}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,580},{88,126}}</string>
                <key>offset</key>
                <string>{-5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,183},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,452},{92,128}}</string>
                <key>offset</key>
                <string>{-7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,179},{92,128}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,286},{94,126}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,179},{94,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{90,126}}</string>
                <key>offset</key>
                <string>{-7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,181},{90,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,246},{88,118}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,173},{88,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,0},{98,120}}</string>
                <key>offset</key>
                <string>{13,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,170},{98,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,126},{98,120}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,169},{98,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,120},{86,118}}</string>
                <key>offset</key>
                <string>{12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,174},{86,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{84,126}}</string>
                <key>offset</key>
                <string>{4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,170},{84,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,286},{78,128}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,170},{78,128}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,252},{82,122}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,172},{82,122}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,478},{110,108}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,174},{110,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,0},{108,112}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,172},{108,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,352},{106,110}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,172},{106,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,492},{114,108}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,175},{114,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,782},{116,116}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,171},{116,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,898},{114,116}}</string>
                <key>offset</key>
                <string>{9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,173},{114,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,608},{114,112}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,174},{114,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,706},{88,124}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,177},{88,124}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,898},{116,110}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,168},{116,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,146},{118,140}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,138},{118,140}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,588},{96,92}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,197},{96,92}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,716},{86,98}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,194},{86,98}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,830},{88,120}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,181},{88,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,512},{80,120}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,174},{80,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,390},{100,122}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,170},{100,122}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,0},{138,116}}</string>
                <key>offset</key>
                <string>{-28,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,169},{138,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,222},{88,102}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,176},{88,102}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,324},{86,106}}</string>
                <key>offset</key>
                <string>{17,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,177},{86,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,662},{80,120}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,174},{80,120}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,84},{108,106}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,182},{108,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,118},{80,114}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,183},{80,114}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,588},{80,136}}</string>
                <key>offset</key>
                <string>{-17,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,176},{80,136}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{84,110}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,167},{84,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,294},{80,108}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,170},{80,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,606},{108,110}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,178},{108,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,720},{88,126}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,177},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,430},{80,104}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,177},{80,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{80,118}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,157},{80,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,190},{108,104}}</string>
                <key>offset</key>
                <string>{15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,183},{108,104}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,138},{90,126}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,191},{90,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{136,112}}</string>
                <key>offset</key>
                <string>{-25,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,198},{136,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,846},{78,126}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,175},{78,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,374},{80,106}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,175},{80,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,110},{84,108}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,170},{84,108}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{92,110}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,168},{92,110}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,374},{112,118}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,179},{112,118}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{82,156}}</string>
                <key>offset</key>
                <string>{13,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,179},{82,156}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,364},{114,106}}</string>
                <key>offset</key>
                <string>{10,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,182},{114,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,632},{82,116}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{82,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,814},{76,96}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,187},{76,96}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,492},{80,116}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,164},{80,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,232},{110,106}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,172},{110,106}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_3_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{142,116}}</string>
                <key>offset</key>
                <string>{30,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,175},{142,116}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,856},{88,126}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,177},{88,126}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,716},{96,94}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,186},{96,94}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{100,154}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,124},{100,154}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{98,146}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,133},{98,146}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>1_3_9_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,722},{96,112}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,168},{96,112}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a96c096c800e927e7d68287c472ba37$</string>
            <key>textureFileName</key>
            <string>1_3.png</string>
        </dict>
    </dict>
</plist>
