<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_0_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,99},{74,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{74,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_0_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,207},{76,96}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{76,96}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_0_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,107},{62,100}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{62,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>2_0_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,565},{63,101}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{63,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_0_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,705},{75,105}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{75,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_0_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,599},{74,106}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{74,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_0_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,464},{70,102}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,50},{70,102}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_0_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,217},{91,107}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{91,107}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>2_0_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{99,105}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{99,105}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_0_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,931},{98,92}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{98,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2_0_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,193},{87,91}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{87,91}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_0_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,246},{84,110}}</string>
                <key>offset</key>
                <string>{-4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,50},{84,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2_0_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,214},{78,100}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,46},{78,100}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_0_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,424},{83,97}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{83,97}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_0_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{107,103}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{107,103}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>2_0_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,808},{99,103}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{99,103}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_0_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,911},{94,102}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,46},{94,102}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_0_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,425},{84,100}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,48},{84,100}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_0_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,720},{90,106}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,42},{90,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_0_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,666},{69,99}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,42},{69,99}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_0_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,489},{88,110}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{88,110}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_0_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{90,124}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{90,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2_0_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,127}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{95,127}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>2_0_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{87,125}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,58},{87,125}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>2_0_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,491},{81,115}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{81,115}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_0_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,606},{88,114}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{88,114}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_0_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,225},{90,108}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{90,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_0_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{71,99}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{71,99}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>2_0_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,599},{69,105}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{69,105}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_0_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{77,109}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,36},{77,109}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_0_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,109},{82,108}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{82,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_0_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,324},{82,100}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{82,100}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>2_0_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,525},{76,98}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{76,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2_0_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,768},{71,99}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{71,99}}</string>
                <key>sourceSize</key>
                <string>{127,127}</string>
            </dict>
            <key>2_0_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,324},{75,101}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{75,101}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_0_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,314},{96,96}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{96,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>2_0_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,810},{104,94}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{104,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>2_0_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,356},{108,102}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,48},{108,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_0_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,704},{90,104}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,46},{90,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_0_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,914},{78,104}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{78,104}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_0_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,667},{75,101}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{75,101}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_0_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,107},{69,107}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{69,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_0_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{81,115}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{81,115}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_0_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,127},{85,119}}</string>
                <key>offset</key>
                <string>{-22,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,54},{85,119}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>2_0_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{91,115}}</string>
                <key>offset</key>
                <string>{-19,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,58},{91,115}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>2_0_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,376},{85,113}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,54},{85,113}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_0_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,115},{76,110}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{76,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2_0_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{69,107}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{69,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_0_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,0},{74,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{74,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_0_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,566},{85,101}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{85,101}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>2_0_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,464},{79,101}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{79,101}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_0_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,931},{78,92}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{78,92}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:072243095455274e8427df7b4e8fa4a7$</string>
            <key>textureFileName</key>
            <string>2_0.png</string>
        </dict>
    </dict>
</plist>
