<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_1_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,299},{74,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{74,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_1_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,101},{76,96}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{76,96}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_1_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,442},{62,100}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,38},{62,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>2_1_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,553},{63,101}}</string>
                <key>offset</key>
                <string>{-16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,38},{63,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_1_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,476},{75,105}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{75,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_1_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,710},{74,106}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{74,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_1_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,215},{70,102}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,50},{70,102}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_1_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,725},{91,107}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,46},{91,107}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>2_1_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,816},{99,105}}</string>
                <key>offset</key>
                <string>{-17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,34},{99,105}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_1_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,317},{98,92}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,36},{98,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2_1_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,0},{87,91}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{87,91}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_1_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,615},{94,110}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{94,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2_1_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,494},{92,110}}</string>
                <key>offset</key>
                <string>{-15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{92,110}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_1_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,940},{84,98}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,44},{84,98}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>2_1_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,833},{107,103}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,40},{107,103}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>2_1_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,921},{99,103}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{99,103}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_1_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,553},{94,100}}</string>
                <key>offset</key>
                <string>{-16,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{94,100}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_1_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{84,100}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,48},{84,100}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_1_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,124},{112,106}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,42},{112,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_1_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,442},{99,99}}</string>
                <key>offset</key>
                <string>{-23,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{99,99}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_1_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,366},{88,110}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,46},{88,110}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_1_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,0},{90,124}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,56},{90,124}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>2_1_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{95,127}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,58},{95,127}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>2_1_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,127},{85,125}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,58},{85,125}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>2_1_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,252},{80,114}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,52},{80,114}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_1_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,127},{93,127}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,54},{93,127}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>2_1_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{103,125}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{103,125}}</string>
                <key>sourceSize</key>
                <string>{183,183}</string>
            </dict>
            <key>2_1_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,236},{70,104}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{70,104}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>2_1_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,346},{69,105}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{69,105}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_1_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,832},{77,107}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{77,107}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>2_1_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,725},{82,108}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,44},{82,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_1_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,340},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{82,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_1_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,451},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{82,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_1_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,0},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{82,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_1_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,0},{75,101}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{75,101}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_1_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,203},{96,96}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{96,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>2_1_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,920},{104,94}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{104,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>2_1_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,604},{106,102}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,48},{106,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_1_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,112},{91,103}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{91,103}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_1_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,815},{91,105}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{91,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_1_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,710},{91,105}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{91,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_1_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,604},{69,107}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{69,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_1_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,379},{81,115}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{81,115}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_1_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,379},{85,121}}</string>
                <key>offset</key>
                <string>{-21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,52},{85,121}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>2_1_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,500},{89,115}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,56},{89,115}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2_1_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,236},{84,110}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{84,110}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_1_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,0},{84,112}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{84,112}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_1_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,0},{84,112}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{84,112}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_1_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,0},{74,94}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{74,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_1_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,102},{79,101}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{79,101}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_1_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,94},{78,92}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{78,92}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>2_1_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,197},{77,93}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{77,93}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0b250abec28065924248df86b56aa0e$</string>
            <key>textureFileName</key>
            <string>2_1.png</string>
        </dict>
    </dict>
</plist>
