<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_2_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,659},{76,94}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{76,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_2_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,0},{76,96}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{76,96}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_2_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,0},{62,102}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,40},{62,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>2_2_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,101},{63,101}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,40},{63,101}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_2_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,816},{80,106}}</string>
                <key>offset</key>
                <string>{-20,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,46},{80,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_2_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,475},{78,104}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{78,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_2_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,102},{72,102}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,50},{72,102}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_2_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,825},{83,107}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{83,107}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>2_2_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,0},{89,101}}</string>
                <key>offset</key>
                <string>{-12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,38},{89,101}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_2_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,932},{90,92}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,36},{90,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2_2_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,513},{85,91}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,38},{85,91}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>2_2_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,363},{88,112}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{88,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2_2_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,922},{86,102}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{86,102}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_2_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,202},{81,97}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{81,97}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_2_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,353},{97,103}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{97,103}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_2_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,816},{82,106}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{82,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_2_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,456},{82,102}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{82,102}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_2_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,0},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,46},{82,102}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_2_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,595},{100,106}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,42},{100,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_2_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,305},{85,99}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,42},{85,99}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>2_2_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,242},{91,111}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,48},{91,111}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>2_2_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,363},{92,118}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,46},{92,118}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_2_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,122},{90,120}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,50},{90,120}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>2_2_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{85,119}}</string>
                <key>offset</key>
                <string>{-14,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,50},{85,119}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>2_2_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,481},{84,114}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{84,114}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_2_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{90,122}}</string>
                <key>offset</key>
                <string>{-15,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,48},{90,122}}</string>
                <key>sourceSize</key>
                <string>{170,170}</string>
            </dict>
            <key>2_2_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,243},{94,120}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{94,120}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>2_2_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,204},{71,101}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{71,101}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>2_2_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,911},{69,105}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,40},{69,105}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_2_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,825},{77,107}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,36},{77,107}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>2_2_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,0},{84,108}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{84,108}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_2_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,413},{82,100}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,34},{82,100}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_2_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,108},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{82,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_2_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,922},{82,102}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,32},{82,102}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>2_2_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,210},{78,102}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,40},{78,102}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>2_2_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,101},{96,96}}</string>
                <key>offset</key>
                <string>{-10,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{96,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>2_2_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,911},{104,94}}</string>
                <key>offset</key>
                <string>{-13,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{104,94}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>2_2_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,710},{106,102}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,48},{106,102}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_2_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,229},{91,103}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{91,103}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_2_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,806},{91,105}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{91,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_2_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,701},{91,105}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,44},{91,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_2_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,710},{69,107}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,48},{69,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_2_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,596},{81,115}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{81,115}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_2_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{83,121}}</string>
                <key>offset</key>
                <string>{-23,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,52},{83,121}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>2_2_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{89,115}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,56},{89,115}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2_2_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,119},{84,110}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,54},{84,110}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_2_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,596},{86,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{86,114}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_2_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,711},{86,114}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,52},{86,114}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_2_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{76,94}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{76,94}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>2_2_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,558},{87,101}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,28},{87,101}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>2_2_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,312},{83,101}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{83,101}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_2_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,932},{80,92}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{80,92}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0da05039bd40a1de0458d5c720725a80$</string>
            <key>textureFileName</key>
            <string>2_2.png</string>
        </dict>
    </dict>
</plist>
