<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2_4_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,527},{85,97}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{85,97}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>2_4_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,647},{85,97}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{85,97}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>2_4_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,334},{66,106}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,42},{66,106}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_4_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,106},{63,105}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,44},{63,105}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_4_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,111},{94,106}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,46},{94,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_4_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,322},{93,103}}</string>
                <key>offset</key>
                <string>{-19,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,46},{93,103}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_4_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,217},{83,105}}</string>
                <key>offset</key>
                <string>{-11,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,52},{83,105}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>2_4_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,811},{89,107}}</string>
                <key>offset</key>
                <string>{-9,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,48},{89,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,104},{91,99}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{91,99}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>2_4_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,415},{94,92}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{94,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>2_4_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,308},{93,93}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,38},{93,93}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_4_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,823},{94,110}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,50},{94,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>2_4_1_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,425},{92,102}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{92,102}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>2_4_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,207},{85,101}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,48},{85,101}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_4_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,228},{98,106}}</string>
                <key>offset</key>
                <string>{-2,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,44},{98,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_4_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,461},{82,106}}</string>
                <key>offset</key>
                <string>{-12,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{82,106}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>2_4_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,0},{82,106}}</string>
                <key>offset</key>
                <string>{-10,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{82,106}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_4_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,104},{83,103}}</string>
                <key>offset</key>
                <string>{-7,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,50},{83,103}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>2_4_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,819},{97,109}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,46},{97,109}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_1_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,544},{81,103}}</string>
                <key>offset</key>
                <string>{-14,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,46},{81,103}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>2_4_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,601},{101,109}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{101,109}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{104,114}}</string>
                <key>offset</key>
                <string>{-12,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,42},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_4_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,241},{101,113}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,44},{101,113}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>2_4_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,601},{95,111}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,46},{95,111}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>2_4_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,710},{97,109}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,46},{97,109}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,372},{99,115}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,44},{99,115}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>2_4_1_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{104,116}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,50},{104,116}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_4_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,440},{74,104}}</string>
                <key>offset</key>
                <string>{-11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{74,104}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>2_4_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,712},{73,111}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{73,111}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,595},{87,109}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,36},{87,109}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_4_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,712},{84,110}}</string>
                <key>offset</key>
                <string>{-15,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{84,110}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>2_4_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,704},{93,107}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,38},{93,107}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_4_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,486},{93,109}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{93,109}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_4_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,931},{93,109}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,36},{93,109}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_4_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,211},{85,103}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{85,103}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>2_4_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,0},{104,102}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,36},{104,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>2_4_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,918},{106,102}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,44},{106,102}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>2_4_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,116},{112,104}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,46},{112,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>2_4_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,928},{95,109}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,48},{95,109}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>2_4_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,0},{97,111}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{97,111}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>2_4_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,822},{97,109}}</string>
                <key>offset</key>
                <string>{-8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,50},{97,109}}</string>
                <key>sourceSize</key>
                <string>{159,159}</string>
            </dict>
            <key>2_4_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,354},{75,107}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{75,107}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>2_4_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,0},{83,125}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,42},{83,125}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>2_4_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{83,131}}</string>
                <key>offset</key>
                <string>{-22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{83,131}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>2_4_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,131},{89,125}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{89,125}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>2_4_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,372},{84,114}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{84,114}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>2_4_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{86,116}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{86,116}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_4_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,125},{86,116}}</string>
                <key>offset</key>
                <string>{-13,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,50},{86,116}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>2_4_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,0},{85,97}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{85,97}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>2_4_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,314},{95,101}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{95,101}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>2_4_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,933},{91,101}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,30},{91,101}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>2_4_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,203},{86,92}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{86,92}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e5fe4b948ade183808b0c6e7f9be71$</string>
            <key>textureFileName</key>
            <string>2_4.png</string>
        </dict>
    </dict>
</plist>
