<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S12_2_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1},{113,115}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>S12_2_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,358},{112,114}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_2_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,245},{112,114}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_2_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,162},{99,153}}</string>
                <key>offset</key>
                <string>{9,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{99,153}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>S12_2_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,833},{98,152}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{98,152}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>S12_2_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,1},{98,152}}</string>
                <key>offset</key>
                <string>{9,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{98,152}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>S12_2_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1},{87,165}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{87,165}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>S12_2_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,553},{91,165}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{91,165}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>S12_2_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,178},{89,165}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{89,165}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>S12_2_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,460},{124,120}}</string>
                <key>offset</key>
                <string>{19,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>S12_2_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1},{123,119}}</string>
                <key>offset</key>
                <string>{19,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{123,119}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>S12_2_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,138},{123,119}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{123,119}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>S12_2_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,297},{124,118}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{124,118}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>S12_2_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,759},{127,119}}</string>
                <key>offset</key>
                <string>{16,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{127,119}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>S12_2_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,891},{128,120}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{128,120}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>S12_2_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,344},{100,164}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{100,164}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_2_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,165},{98,162}}</string>
                <key>offset</key>
                <string>{10,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{98,162}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>S12_2_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,509},{99,163}}</string>
                <key>offset</key>
                <string>{9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{99,163}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>S12_2_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{99,163}}</string>
                <key>offset</key>
                <string>{9,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{99,163}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>S12_2_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,167},{98,164}}</string>
                <key>offset</key>
                <string>{10,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{98,164}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>S12_2_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,719},{100,164}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{100,164}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_2_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,576},{96,174}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{96,174}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>S12_2_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,926},{95,173}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{95,173}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>S12_2_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,576},{93,173}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{93,173}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>S12_2_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,379},{89,173}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,0},{89,173}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>S12_2_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,750},{91,173}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{91,173}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>S12_2_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{94,174}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{94,174}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>S12_2_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,585},{121,115}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>S12_2_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,751},{90,174}}</string>
                <key>offset</key>
                <string>{1,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{90,174}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>S12_2_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{88,188}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{88,188}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>S12_2_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,884},{130,138}}</string>
                <key>offset</key>
                <string>{18,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>S12_2_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,485},{143,119}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{143,119}}</string>
                <key>sourceSize</key>
                <string>{185,185}</string>
            </dict>
            <key>S12_2_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,761},{129,113}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{129,113}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>S12_2_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,125},{119,113}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{119,113}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>S12_2_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,328},{112,156}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{112,156}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>S12_2_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{100,176}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{100,176}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>S12_2_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,495},{109,159}}</string>
                <key>offset</key>
                <string>{-7,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,0},{109,159}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>S12_2_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{116,186}}</string>
                <key>offset</key>
                <string>{9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{116,186}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>S12_2_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,887},{125,117}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_2_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1},{136,118}}</string>
                <key>offset</key>
                <string>{20,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{176,176}</string>
            </dict>
            <key>S12_2_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,154},{142,120}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,11},{142,120}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>S12_2_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,200},{96,178}}</string>
                <key>offset</key>
                <string>{5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{96,178}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>S12_2_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,926},{95,161}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,0},{95,161}}</string>
                <key>sourceSize</key>
                <string>{265,265}</string>
            </dict>
            <key>S12_2_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,316},{101,143}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{101,143}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>S12_2_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,198}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{94,198}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>S12_2_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,629},{101,131}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_2_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,629},{101,129}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_2_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,332},{98,162}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{98,162}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>S12_2_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,262},{115,119}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>S12_2_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{114,160}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{114,160}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>S12_2_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,673},{113,159}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{113,159}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>S12_2_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,422},{115,119}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{115,119}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S12_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9273fe96934421add112d9b7f4ac40fd$</string>
            <key>textureFileName</key>
            <string>S12_2.png</string>
        </dict>
    </dict>
</plist>
