<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S12_3_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,578},{112,114}}</string>
                <key>offset</key>
                <string>{13,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>S12_3_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,350},{112,116}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{112,116}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>S12_3_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,577},{112,114}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{112,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_3_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,161},{95,153}}</string>
                <key>offset</key>
                <string>{8,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{95,153}}</string>
                <key>sourceSize</key>
                <string>{245,245}</string>
            </dict>
            <key>S12_3_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,822},{94,152}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>S12_3_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1},{94,152}}</string>
                <key>offset</key>
                <string>{8,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{94,152}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>S12_3_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,717},{88,166}}</string>
                <key>offset</key>
                <string>{1,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{88,166}}</string>
                <key>sourceSize</key>
                <string>{274,274}</string>
            </dict>
            <key>S12_3_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,178},{91,163}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{91,163}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>S12_3_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1},{89,163}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{89,163}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>S12_3_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{122,114}}</string>
                <key>offset</key>
                <string>{18,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{122,114}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>S12_3_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,289},{124,116}}</string>
                <key>offset</key>
                <string>{18,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{124,116}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_3_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1},{123,117}}</string>
                <key>offset</key>
                <string>{18,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>S12_3_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,131},{123,117}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>S12_3_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,784},{128,116}}</string>
                <key>offset</key>
                <string>{16,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{128,116}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>S12_3_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,456},{126,114}}</string>
                <key>offset</key>
                <string>{16,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,0},{126,114}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>S12_3_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,161},{101,159}}</string>
                <key>offset</key>
                <string>{11,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{101,159}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>S12_3_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,326},{101,159}}</string>
                <key>offset</key>
                <string>{10,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,0},{101,159}}</string>
                <key>sourceSize</key>
                <string>{261,261}</string>
            </dict>
            <key>S12_3_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,342},{100,160}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_3_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,663},{100,158}}</string>
                <key>offset</key>
                <string>{11,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{100,158}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>S12_3_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,503},{101,159}}</string>
                <key>offset</key>
                <string>{10,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{101,159}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>S12_3_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1},{103,159}}</string>
                <key>offset</key>
                <string>{10,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{103,159}}</string>
                <key>sourceSize</key>
                <string>{257,257}</string>
            </dict>
            <key>S12_3_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,741},{96,170}}</string>
                <key>offset</key>
                <string>{5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{96,170}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>S12_3_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,570},{96,170}}</string>
                <key>offset</key>
                <string>{1,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{96,170}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>S12_3_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,377},{93,169}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{93,169}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>S12_3_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,547},{89,169}}</string>
                <key>offset</key>
                <string>{4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{89,169}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>S12_3_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,741},{90,170}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{90,170}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>S12_3_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,570},{94,170}}</string>
                <key>offset</key>
                <string>{6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,0},{94,170}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>S12_3_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,234},{121,115}}</string>
                <key>offset</key>
                <string>{18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{121,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>S12_3_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,741},{88,170}}</string>
                <key>offset</key>
                <string>{0,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,0},{88,170}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_3_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,199},{87,187}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{87,187}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>S12_3_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,154},{130,134}}</string>
                <key>offset</key>
                <string>{18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,0},{130,134}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>S12_3_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,315},{140,120}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,6},{140,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>S12_3_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,618},{128,112}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{128,112}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>S12_3_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,350},{117,113}}</string>
                <key>offset</key>
                <string>{16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{117,113}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>S12_3_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,321},{113,155}}</string>
                <key>offset</key>
                <string>{17,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{113,155}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>S12_3_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1},{96,176}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{96,176}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>S12_3_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,912},{105,159}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{105,159}}</string>
                <key>sourceSize</key>
                <string>{259,259}</string>
            </dict>
            <key>S12_3_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{116,182}}</string>
                <key>offset</key>
                <string>{8,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{116,182}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>S12_3_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,116},{121,117}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{121,117}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_3_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,884},{135,117}}</string>
                <key>offset</key>
                <string>{18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>S12_3_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,477},{140,120}}</string>
                <key>offset</key>
                <string>{28,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,8},{140,120}}</string>
                <key>sourceSize</key>
                <string>{196,196}</string>
            </dict>
            <key>S12_3_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,199},{95,177}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{95,177}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>S12_3_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,165},{94,160}}</string>
                <key>offset</key>
                <string>{0,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{94,160}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_3_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,642},{99,141}}</string>
                <key>offset</key>
                <string>{-5,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{99,141}}</string>
                <key>sourceSize</key>
                <string>{225,225}</string>
            </dict>
            <key>S12_3_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{93,197}}</string>
                <key>offset</key>
                <string>{3,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,0},{93,197}}</string>
                <key>sourceSize</key>
                <string>{337,337}</string>
            </dict>
            <key>S12_3_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,1},{101,131}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_3_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1},{101,129}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_3_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1},{97,159}}</string>
                <key>offset</key>
                <string>{4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,0},{97,159}}</string>
                <key>sourceSize</key>
                <string>{263,263}</string>
            </dict>
            <key>S12_3_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,464},{113,115}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>S12_3_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,486},{113,155}}</string>
                <key>offset</key>
                <string>{14,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{113,155}}</string>
                <key>sourceSize</key>
                <string>{239,239}</string>
            </dict>
            <key>S12_3_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,912},{111,157}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{111,157}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>S12_3_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,463},{113,115}}</string>
                <key>offset</key>
                <string>{13,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S12_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a981d3039ecfd8060006af65dc1ec8c8$</string>
            <key>textureFileName</key>
            <string>S12_3.png</string>
        </dict>
    </dict>
</plist>
