<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>S12_1_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,570},{113,115}}</string>
                <key>offset</key>
                <string>{14,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{113,115}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>S12_1_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,689},{114,114}}</string>
                <key>offset</key>
                <string>{14,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_1_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,684},{114,114}}</string>
                <key>offset</key>
                <string>{13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>S12_1_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,165},{101,153}}</string>
                <key>offset</key>
                <string>{11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>S12_1_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,1},{102,152}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,0},{102,152}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>S12_1_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,660},{103,151}}</string>
                <key>offset</key>
                <string>{11,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{103,151}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>S12_1_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,169},{87,165}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{87,165}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>S12_1_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,553},{91,165}}</string>
                <key>offset</key>
                <string>{-1,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,0},{91,165}}</string>
                <key>sourceSize</key>
                <string>{281,281}</string>
            </dict>
            <key>S12_1_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,354},{89,165}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{89,165}}</string>
                <key>sourceSize</key>
                <string>{279,279}</string>
            </dict>
            <key>S12_1_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,1},{129,119}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,2},{129,119}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_1_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1},{129,119}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{129,119}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_1_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,135},{129,119}}</string>
                <key>offset</key>
                <string>{21,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,0},{129,119}}</string>
                <key>sourceSize</key>
                <string>{175,175}</string>
            </dict>
            <key>S12_1_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,803},{128,118}}</string>
                <key>offset</key>
                <string>{21,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,0},{128,118}}</string>
                <key>sourceSize</key>
                <string>{178,178}</string>
            </dict>
            <key>S12_1_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,458},{133,119}}</string>
                <key>offset</key>
                <string>{19,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{133,119}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_1_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,1},{133,119}}</string>
                <key>offset</key>
                <string>{19,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{133,119}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_1_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,166},{102,164}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{102,164}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_1_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,335},{102,164}}</string>
                <key>offset</key>
                <string>{11,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{102,164}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>S12_1_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,685},{101,163}}</string>
                <key>offset</key>
                <string>{11,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{101,163}}</string>
                <key>sourceSize</key>
                <string>{275,275}</string>
            </dict>
            <key>S12_1_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1},{101,163}}</string>
                <key>offset</key>
                <string>{10,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{101,163}}</string>
                <key>sourceSize</key>
                <string>{279,279}</string>
            </dict>
            <key>S12_1_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,520},{102,164}}</string>
                <key>offset</key>
                <string>{11,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{102,164}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>S12_1_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,719},{102,164}}</string>
                <key>offset</key>
                <string>{11,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,0},{102,164}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_1_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,576},{96,174}}</string>
                <key>offset</key>
                <string>{5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,0},{96,174}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>S12_1_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,926},{95,173}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,0},{95,173}}</string>
                <key>sourceSize</key>
                <string>{293,293}</string>
            </dict>
            <key>S12_1_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,751},{93,173}}</string>
                <key>offset</key>
                <string>{2,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{93,173}}</string>
                <key>sourceSize</key>
                <string>{299,299}</string>
            </dict>
            <key>S12_1_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,181},{88,172}}</string>
                <key>offset</key>
                <string>{4,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,0},{88,172}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>S12_1_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,576},{91,173}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{91,173}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>S12_1_1_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,751},{94,174}}</string>
                <key>offset</key>
                <string>{6,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{94,174}}</string>
                <key>sourceSize</key>
                <string>{292,292}</string>
            </dict>
            <key>S12_1_2_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,592},{126,116}}</string>
                <key>offset</key>
                <string>{19,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,2},{126,116}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>S12_1_2_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,380},{88,172}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,0},{88,172}}</string>
                <key>sourceSize</key>
                <string>{272,272}</string>
            </dict>
            <key>S12_1_2_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{88,190}}</string>
                <key>offset</key>
                <string>{0,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,0},{88,190}}</string>
                <key>sourceSize</key>
                <string>{306,306}</string>
            </dict>
            <key>S12_1_2_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,319},{136,138}}</string>
                <key>offset</key>
                <string>{20,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>S12_1_2_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,660},{142,120}}</string>
                <key>offset</key>
                <string>{21,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{142,120}}</string>
                <key>sourceSize</key>
                <string>{184,184}</string>
            </dict>
            <key>S12_1_2_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,121},{129,113}}</string>
                <key>offset</key>
                <string>{20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{129,113}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>S12_1_2_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,337},{121,113}}</string>
                <key>offset</key>
                <string>{17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{121,113}}</string>
                <key>sourceSize</key>
                <string>{155,155}</string>
            </dict>
            <key>S12_1_2_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,331},{116,156}}</string>
                <key>offset</key>
                <string>{18,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{116,156}}</string>
                <key>sourceSize</key>
                <string>{252,252}</string>
            </dict>
            <key>S12_1_2_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,200},{99,179}}</string>
                <key>offset</key>
                <string>{9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{99,179}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>S12_1_2_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1},{106,164}}</string>
                <key>offset</key>
                <string>{-6,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{106,164}}</string>
                <key>sourceSize</key>
                <string>{268,268}</string>
            </dict>
            <key>S12_1_2_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,391},{118,184}}</string>
                <key>offset</key>
                <string>{10,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{118,184}}</string>
                <key>sourceSize</key>
                <string>{308,308}</string>
            </dict>
            <key>S12_1_2_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,422},{123,117}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{123,117}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>S12_1_2_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,154},{135,117}}</string>
                <key>offset</key>
                <string>{19,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{135,117}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>S12_1_2_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,812},{142,120}}</string>
                <key>offset</key>
                <string>{30,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,11},{142,120}}</string>
                <key>sourceSize</key>
                <string>{202,202}</string>
            </dict>
            <key>S12_1_2_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1},{95,179}}</string>
                <key>offset</key>
                <string>{5,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,0},{95,179}}</string>
                <key>sourceSize</key>
                <string>{301,301}</string>
            </dict>
            <key>S12_1_2_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1},{95,167}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,0},{95,167}}</string>
                <key>sourceSize</key>
                <string>{277,277}</string>
            </dict>
            <key>S12_1_2_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,488},{101,141}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{101,141}}</string>
                <key>sourceSize</key>
                <string>{227,227}</string>
            </dict>
            <key>S12_1_2_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,198}}</string>
                <key>offset</key>
                <string>{2,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{94,198}}</string>
                <key>sourceSize</key>
                <string>{342,342}</string>
            </dict>
            <key>S12_1_2_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,290},{101,131}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,131}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_1_2_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,235},{101,129}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{101,129}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>S12_1_2_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,925},{98,160}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{98,160}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>S12_1_9_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,570},{118,118}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>S12_1_9_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,500},{115,159}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,0},{115,159}}</string>
                <key>sourceSize</key>
                <string>{247,247}</string>
            </dict>
            <key>S12_1_9_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,849},{114,160}}</string>
                <key>offset</key>
                <string>{14,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{114,160}}</string>
                <key>sourceSize</key>
                <string>{248,248}</string>
            </dict>
            <key>S12_1_9_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,451},{118,118}}</string>
                <key>offset</key>
                <string>{15,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>S12_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c78599e75220ae3545c448b6861fab37$</string>
            <key>textureFileName</key>
            <string>S12_1.png</string>
        </dict>
    </dict>
</plist>
