<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sbu12_0_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,865},{175,149}}</string>
                <key>offset</key>
                <string>{12,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{175,149}}</string>
                <key>sourceSize</key>
                <string>{211,211}</string>
            </dict>
            <key>Sbu12_0_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,497},{173,147}}</string>
                <key>offset</key>
                <string>{12,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{173,147}}</string>
                <key>sourceSize</key>
                <string>{217,217}</string>
            </dict>
            <key>Sbu12_0_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,865},{174,148}}</string>
                <key>offset</key>
                <string>{12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{174,148}}</string>
                <key>sourceSize</key>
                <string>{216,216}</string>
            </dict>
            <key>Sbu12_0_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,464},{164,202}}</string>
                <key>offset</key>
                <string>{20,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,0},{164,202}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>Sbu12_0_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,331},{165,203}}</string>
                <key>offset</key>
                <string>{20,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,0},{165,203}}</string>
                <key>sourceSize</key>
                <string>{341,341}</string>
            </dict>
            <key>Sbu12_0_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,331},{165,201}}</string>
                <key>offset</key>
                <string>{19,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,0},{165,201}}</string>
                <key>sourceSize</key>
                <string>{339,339}</string>
            </dict>
            <key>Sbu12_0_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1},{155,231}}</string>
                <key>offset</key>
                <string>{2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,0},{155,231}}</string>
                <key>sourceSize</key>
                <string>{393,393}</string>
            </dict>
            <key>Sbu12_0_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,233},{156,230}}</string>
                <key>offset</key>
                <string>{1,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{156,230}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>Sbu12_0_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,734},{155,231}}</string>
                <key>offset</key>
                <string>{2,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{155,231}}</string>
                <key>sourceSize</key>
                <string>{399,399}</string>
            </dict>
            <key>Sbu12_1_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,667},{197,161}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{197,161}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>Sbu12_1_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,858},{196,162}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>Sbu12_1_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,497},{195,163}}</string>
                <key>offset</key>
                <string>{20,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{195,163}}</string>
                <key>sourceSize</key>
                <string>{251,251}</string>
            </dict>
            <key>Sbu12_1_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,497},{195,163}}</string>
                <key>offset</key>
                <string>{20,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,0},{195,163}}</string>
                <key>sourceSize</key>
                <string>{255,255}</string>
            </dict>
            <key>Sbu12_1_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,661},{196,162}}</string>
                <key>offset</key>
                <string>{20,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{196,162}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>Sbu12_1_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,667},{197,161}}</string>
                <key>offset</key>
                <string>{20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{197,161}}</string>
                <key>sourceSize</key>
                <string>{237,237}</string>
            </dict>
            <key>Sbu12_1_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,166},{164,226}}</string>
                <key>offset</key>
                <string>{15,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{372,372}</string>
            </dict>
            <key>Sbu12_1_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,166},{164,226}}</string>
                <key>offset</key>
                <string>{15,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{376,376}</string>
            </dict>
            <key>Sbu12_1_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1},{164,226}}</string>
                <key>offset</key>
                <string>{14,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>Sbu12_1_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,228},{163,225}}</string>
                <key>offset</key>
                <string>{14,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{163,225}}</string>
                <key>sourceSize</key>
                <string>{387,387}</string>
            </dict>
            <key>Sbu12_1_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,1},{164,226}}</string>
                <key>offset</key>
                <string>{15,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Sbu12_1_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1},{164,226}}</string>
                <key>offset</key>
                <string>{15,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,0},{164,226}}</string>
                <key>sourceSize</key>
                <string>{372,372}</string>
            </dict>
            <key>Sbu12_1_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{156,244}}</string>
                <key>offset</key>
                <string>{-1,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,0},{156,244}}</string>
                <key>sourceSize</key>
                <string>{406,406}</string>
            </dict>
            <key>Sbu12_1_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,244}}</string>
                <key>offset</key>
                <string>{-1,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,0},{156,244}}</string>
                <key>sourceSize</key>
                <string>{410,410}</string>
            </dict>
            <key>Sbu12_1_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,491},{156,242}}</string>
                <key>offset</key>
                <string>{-1,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,0},{156,242}}</string>
                <key>sourceSize</key>
                <string>{416,416}</string>
            </dict>
            <key>Sbu12_1_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,735},{156,242}}</string>
                <key>offset</key>
                <string>{-1,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,0},{156,242}}</string>
                <key>sourceSize</key>
                <string>{420,420}</string>
            </dict>
            <key>Sbu12_1_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{155,243}}</string>
                <key>offset</key>
                <string>{0,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,0},{155,243}}</string>
                <key>sourceSize</key>
                <string>{413,413}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sbu12_0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1350afd00519f328af551fae321c14e$</string>
            <key>textureFileName</key>
            <string>Sbu12_0.png</string>
        </dict>
    </dict>
</plist>
